{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Olá, {% if email %}{{ email }}{% else %}Estranho{% endif %}!</h1>
</div>

{% if email %}
    <hr>
    <p>A sua Instituição de ensino é {{ institution if institution else 'None' }}</p>
    <p>Está cursando a disciplina de {{ disciplina if disciplina else 'None' }}</p>
    <p>O IP do computador remoto é {{ ip_address if ip_address else 'None' }}</p>
    <p>O host da aplicação é {{ host if host else 'None' }}</p>
    <p>The local date and time is {{ moment.utcnow().format('MMMM DD, YYYY h:mm A') }}.</p>
    <p>That was a few seconds ago.</p>
{% else %}
    <!-- Exibe o formulário de login caso o usuário não esteja logado -->
    {{ wtf.quick_form(form) }}
{% endif %}

{% endblock %}
