{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Olá, {% if email %}{{ email }}{% else %}Estranho{% endif %}!</h1>
</div>

{% if email %}
    <hr>
    <p>Você está acessando o sistema por meio do usuário <strong>{{ email }}</strong></p>
    <p>The local date and time is {{ moment.utcnow().format('MMMM DD, YYYY h:mm A') }}.</p>
    <p>That was a few seconds ago.</p>
{% else %}
    <!-- Exibe o formulário de login caso o usuário não esteja logado -->
    {{ wtf.quick_form(form) }}
{% endif %}

{% endblock %}
